@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

root {
  margin: 0 !important;
  padding: 0 !important;
}
* {
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.428 0.015 248.2);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.428 0.015 248.2);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.428 0.015 248.2);
  --primary: oklch(0.669 0.195 140.4);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(98.73% 0.006672 295.4542);
  --secondary-foreground: oklch(0.669 0.195 140.4);
  --muted: oklch(98.73% 0.006672 295.4542);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: #e9e9ef50;
  --accent-foreground: oklch(0.428 0.015 248.2);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --money-in: #2ab57d;
  --money-out: #fd625e;
}

.dark {
  --background: #181818;
  --foreground: #eeeeee;
  --card: #181818;
  --card-foreground: #eeeeee;
  --popover: #1c1c1c;
  --popover-foreground: #eeeeee;
  --primary: oklch(0.669 0.195 140.4);
  --primary-foreground: #eeeeee;
  --secondary: #141414;
  --secondary-foreground: #adb5bd;
  --muted: #181818;
  --muted-foreground: #c4cacf;
  --accent: #0f0f0f;
  --accent-foreground: #d7d7d7;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: #2b2b2b;
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  /* Money in/out colors for light mode */
  --money-in: #2ab57d;
  --money-out: #fd625e;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-money-in: var(--money-in);
  --color-money-out: var(--money-out);
}

/* Override green-600 and red-600 colors for dark mode */
.dark .green-600,
.dark .red-600 {
  color: #1c1c1c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
